@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?5qayau');
	src:url('icomoon.eot?#iefix5qayau') format('embedded-opentype'),
		url('icomoon.woff?5qayau') format('woff'),
		url('icomoon.ttf?5qayau') format('truetype'),
		url('icomoon.svg?5qayau#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-with-circle-down:before {
	content: "\e600";
}

.icon-chevron-with-circle-left:before {
	content: "\e601";
}

.icon-chevron-with-circle-right:before {
	content: "\e602";
}

.icon-chevron-with-circle-up:before {
	content: "\e603";
}

.icon-briefcase:before {
	content: "\e604";
}

.icon-camera:before {
	content: "\e605";
}

.icon-email:before {
	content: "\e606";
}

.icon-globe:before {
	content: "\e617";
}

.icon-location-pin:before {
	content: "\e607";
}

.icon-map:before {
	content: "\e608";
}

.icon-mobile:before {
	content: "\e609";
}

.icon-old-mobile:before {
	content: "\e60a";
}

.icon-old-phone:before {
	content: "\e60b";
}

.icon-phone:before {
	content: "\e60c";
}

.icon-trophy:before {
	content: "\e60d";
}

.icon-tv:before {
	content: "\e60e";
}

.icon-typing:before {
	content: "\e610";
}

.icon-user:before {
	content: "\e611";
}

.icon-users:before {
	content: "\e612";
}

.icon-facebook-with-circle:before {
	content: "\e613";
}

.icon-google-with-circle:before {
	content: "\e616";
}

.icon-linkedin-with-circle:before {
	content: "\e614";
}

.icon-twitter-with-circle:before {
	content: "\e615";
}

.icon-youtube-with-circle:before {
	content: "\e618";
}

.icon-mail:before {
	content: "\e60f";
}

